[Unit]
Description=pi-yadl data gatherer

[Service]
User=root
Type=simple
ExecStart=/home/masneyb/data/pi-yadl/bin/yadl --gpio_pin 0 --sensor dht22 --temperature_unit fahrenheit --min_valid_value 30 --max_valid_value 95 --output rrd --outfile /home/masneyb/data/pi-yadl/web/humiture.rrd
