[Unit]
Description=Raspberry Pi power savings
Requires=network-online.target
After=network.target network-online.target multi-user.target

[Service]
Type=oneshot
StandardOutput=tty
ExecStart=/home/masneyb/data/weather-station/bin/power-savings

[Install]
WantedBy=multi-user.target
