[Unit]
Description=Weather station gatherer

[Service]
User=root
Type=simple

# If you want to publish the metrics to Weather Underground, then add the ID and password
# to the end of the call to gather-data.sh.
# gather-data.sh <path to yadl binary> <path to web/ directory [ <weather underground ID> <weather underground password> ]

ExecStart=/home/masneyb/data/weather-station/bin/gather-data.sh /home/masneyb/data/pi-yadl/bin/yadl /home/masneyb/data/weather-station-data
