[Unit]
Description=pi-yadl graph creator

[Service]
User=masneyb
Type=simple
ExecStart=/home/masneyb/data/weather-station/pi-yadl/bin/create-min-max-graphs.sh /home/masneyb/data/weather-station/pi-yadl/web/humiture "Basement Temperature and Humidity" "Temperature" /home/masneyb/data/weather-station/pi-yadl/web/humiture.rrd temperature "Relative Humidity" /home/masneyb/data/weather-station/pi-yadl/web/humiture.rrd humidity
